{% extends "cmt_layout.html" %} {% set title = 'المحادثات' %} {% block content %}

<div class="main-content legan" id="mainContent">
    <div class="chatContainer">
        <div class="upperSide d-flex border-bottom border-2">
            <div class="chatEntities d-flex justify-between align-center w-75">
                <p class="text-primary text-large">المحادثة</p>
                <div class="d-flex">
                    <p class="mllg hint-big">
                        <i class="fas fa-file ml-1"></i> الملفات

                    </p>
                    <p class="mllg hint-big">
                        <i class="far fa-image ml-1"></i> الصور

                    </p>
                </div>
            </div>
            <div class="teamUpper d-flex justify-between align-center w-25 border-right border-2 prmd">
                <p class="text-large">الحاضرين</p>
                <div class="d-flex">
                    <i class="fas fa-times"></i>
                </div>
            </div>
        </div>

        <div class="lowerSide d-flex">
            <div class="chatContnet w-75 plmd scroll bordered pr-3">
                <div class="d-flex py-2 align-baseline justify-content-start">
                    <div class="personImg mrmd">
                        <img src="./../images/person.png" alt="">
                    </div>

                    <div class="text-left">
                        <div class="message">
                            <p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ex</p>
                        </div>
                        <span class="hint">Ahmed</span>
                    </div>
                </div>

                <div class="d-flex py-2 align-baseline justify-content-start">
                    <div class="personImg mrmd">
                        <img src="./../images/person.png" alt="">
                    </div>

                    <div class="text-left">
                        <div class="message">
                            <p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ex Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ex
                            </p>
                        </div>
                        <span class="hint">Ahmed</span>
                    </div>
                </div>

                <div class="d-flex py-2 align-baseline justify-content-start">
                    <div class="personImg mrmd">
                        <img src="./../images/person.png" alt="">
                    </div>

                    <div class="text-left">
                        <div class="message">
                            <p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ex</p>
                        </div>
                        <span class="hint">Ahmed</span>
                    </div>
                </div>

                <div class="d-flex py-2 align-baseline justify-content-start">
                    <div class="personImg mrmd">
                        <img src="./../images/person.png" alt="">
                    </div>

                    <div class="text-left">
                        <div class="message">
                            <p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ex Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ex
                            </p>
                        </div>
                        <span class="hint">Ahmed</span>
                    </div>
                </div>

                <div class="d-flex py-2 align-baseline justify-content-start">
                    <div class="personImg mrmd">
                        <img src="./../images/person.png" alt="">
                    </div>

                    <div class="text-left">
                        <div class="message">
                            <p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ex</p>
                        </div>
                        <span class="hint">Ahmed</span>
                    </div>
                </div>

                <div class="d-flex py-2 align-baseline justify-content-start">
                    <div class="personImg mrmd">
                        <img src="./../images/person.png" alt="">
                    </div>

                    <div class="text-left">
                        <div class="message">
                            <p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ex Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ex
                            </p>
                        </div>
                        <span class="hint">Ahmed</span>
                    </div>
                </div>
            </div>

            <div class="teamEntities border-right border-2 w-25 prmd">
                <div class="d-flex py-2 align-baseline justify-content-end">
                    <div class="personName">
                        Amira Mosaad
                    </div>
                    <div class="personImg mrmd">
                        <img src="./../images/person.png" alt="">
                    </div>
                </div>

                <div class="d-flex py-2 align-baseline justify-content-end">
                    <div class="personName">
                        Hend Diab
                    </div>
                    <div class="personImg mrmd">
                        <img src="./../images/person.png" alt="">
                    </div>
                </div>

                <div class="d-flex py-2 align-baseline justify-content-end">
                    <div class="personName">
                        Ahmed Saeed
                    </div>
                    <div class="personImg mrmd">
                        <img src="./../images/person.png" alt="">
                    </div>
                </div>

                <div class="d-flex py-2 align-baseline justify-content-end">
                    <div class="personName">
                        Mohamed Shehata
                    </div>
                    <div class="personImg mrmd">
                        <img src="./../images/person.png" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}