{% extends "cmt_layout.html" %} {% set title = 'صلاحيات المجموعة' %} {% block content %}

<div class="main-content legan" id="mainContent">
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body text-center">
                    <div>
                        <i class="far fa-trash-alt"></i>
                    </div>
                    <h2 class="title" id="exampleModalLabel">هل تريد ازالة العنصر؟</h2>
                    <p>عند ازالة العنصر لا يمكن استعادته مرة اخري
                    </p>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-wide btn-primary" data-dismiss="modal">نعم</button>
                    <button type="button" class="btn btn-wide btn-primary-reverse" data-dismiss="modal">لا</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mtlg">
        <div class="row mx-0">
            <div class="mtlg col-12">
                <div class="row mx-0">
                    <div class="col-12 p-0">
                        <div class="d-flex justify-content-between mbmd">
                            <p class="title m-0">صلاحيات المجموعة</p>
                        </div>
                    </div>

                    <div class="col-12 p-0">
                        <div class="table-responsive members">
                            <table class="js-datatable table table-striped table-borderless table-hover">
                                <thead>
                                    <tr>
                                        <th class="w-15">اسم المجموعة</th>
                                        <th class="w-40">الخطوة</th>
                                        <th>اضافة</th>
                                        <th>عرض</th>
                                        <th>تحميل</th>
                                        <th>تحديث</th>
                                        <th>ازالة</th>
                                        <th>طباعة</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="select-wrapper">
                                                <select name="" class="form-control bg-transparent border-0" id="">
                                            <option>الانشاء
                                            </option>
                                            <option>التطوير
                                            </option>
                                            <option>التنمية البشرية
                                            </option>
                                        </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="select-wrapper">
                                                <select name="" class="form-control bg-transparent border-0" id="">
                                            <option>ارفاق ملف
                                            </option>
                                            <option>اضافة موضوع اجتماع
                                            </option>
                                            <option>محضر الاجتماع
                                            </option>
                                        </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="checkbox" checked name="ch11" id="ch11" class="styled-checkbox">

                                                <label for="ch11"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="checkbox" checked name="ch21" id="ch21" class="styled-checkbox">

                                                <label for="ch21"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="checkbox" name="ch31" id="ch31" class="styled-checkbox">

                                                <label for="ch31"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="checkbox" checked name="ch41" id="ch41" class="styled-checkbox">

                                                <label for="ch41"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="checkbox" name="ch51" id="ch51" class="styled-checkbox">

                                                <label for="ch51"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="checkbox" checked name="ch61" id="ch61" class="styled-checkbox">

                                                <label for="ch61"></label>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="select-wrapper">
                                                <select name="" class="form-control bg-transparent border-0" id="">
                                            <option>الانشاء
                                            </option>
                                            <option>التطوير
                                            </option>
                                            <option>التنمية البشرية
                                            </option>
                                        </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="select-wrapper">
                                                <select name="" class="form-control bg-transparent border-0" id="">
                                            <option>ارفاق ملف
                                            </option>
                                            <option>اضافة موضوع اجتماع
                                            </option>
                                            <option>محضر الاجتماع
                                            </option>
                                        </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="checkbox" checked name="ch11" id="ch11" class="styled-checkbox">

                                                <label for="ch11"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="checkbox" checked name="ch21" id="ch21" class="styled-checkbox">

                                                <label for="ch21"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="checkbox" name="ch31" id="ch31" class="styled-checkbox">

                                                <label for="ch31"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="checkbox" checked name="ch41" id="ch41" class="styled-checkbox">

                                                <label for="ch41"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="checkbox" name="ch51" id="ch51" class="styled-checkbox">

                                                <label for="ch51"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="checkbox" checked name="ch61" id="ch61" class="styled-checkbox">

                                                <label for="ch61"></label>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="select-wrapper">
                                                <select name="" class="form-control bg-transparent border-0" id="">
                                            <option>الانشاء
                                            </option>
                                            <option>التطوير
                                            </option>
                                            <option>التنمية البشرية
                                            </option>
                                        </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="select-wrapper">
                                                <select name="" class="form-control bg-transparent border-0" id="">
                                            <option>ارفاق ملف
                                            </option>
                                            <option>اضافة موضوع اجتماع
                                            </option>
                                            <option>محضر الاجتماع
                                            </option>
                                        </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="checkbox" checked name="ch11" id="ch11" class="styled-checkbox">

                                                <label for="ch11"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="checkbox" checked name="ch21" id="ch21" class="styled-checkbox">

                                                <label for="ch21"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="checkbox" name="ch31" id="ch31" class="styled-checkbox">

                                                <label for="ch31"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="checkbox" checked name="ch41" id="ch41" class="styled-checkbox">

                                                <label for="ch41"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="checkbox" name="ch51" id="ch51" class="styled-checkbox">

                                                <label for="ch51"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="checkbox" checked name="ch61" id="ch61" class="styled-checkbox">

                                                <label for="ch61"></label>
                                            </div>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}