{% extends "cmt_layout.html" %} {% set title = 'خطأ' %} {% block content %}

<div class="main-content legan" id="mainContent">
    <div class="container-fluid">

        <div class="p_4040">

            <img src="./../images/icons/Group 2158.png" alt="">
            <h1> حدث خطأ 503</h1>

            <div class="mtlg">
                <p class="title">نحن لا نستطيع إيجاد الصفحة التي تبحث عنها</p>
            </div>

            <div class="links_404 mtlg">
                <ul>
                    <li><a href="./index.html">الصفحة الرئسية</a></li>
                    <li><a href="./cmt_maham.html">المهام</a></li>
                    <li><a href="./cmt_leggan.html">اللجان</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
{% endblock content %}