<div id="createMoraslaForm" class="form mtmd">
	<div class="ptsm pbsm prsm plsm bg-lightgray b_all">
	  	<div class="form-group">
			<label class="col-form-label"><strong><span class="required">*</span>&nbsp; إسم التكليف</strong></label>
			<input type="text" name="" class="form-control" placeholder="إسم التكليف">
	  	</div>
	</div>

	<div class="hidden-group rows-even-odd" id="contiuneTaklefData">
		<div class="row mtsm">
			<div class="col-sm-5">
				<div class="row">
					<div class="col-sm-4"><label class="col-form-label">:رقم الوارد</label></div>
					<div class="col-sm-8">
						<input type="text" name="" class="form-control" placeholder="">
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				&nbsp;
			</div>
			<div class="col-sm-5">
				<div class="row">
					<div class="col-sm-4"><label class="col-form-label">تاريخ المراسلة :</label></div>
					<div class="col-sm-8">
						<div class="date">
							<input type="text" name="" class="form-control" placeholder="">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row mtsm">
			<div class="col-sm-5">
				<div class="row">
					<div class="col-sm-4"><label class="col-form-label">:المحفظة</label></div>
					<div class="col-sm-8">
						<input type="text" name="" class="form-control" placeholder="">
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				&nbsp;
			</div>
			<div class="col-sm-5">
				<div class="row">
					<div class="col-sm-4"><label class="col-form-label">:مدة التكليف</label></div>
					<div class="col-sm-8">
						<input type="text" name="" class="form-control" placeholder="">
					</div>
				</div>
			</div>
		</div>

		<div class="row mtsm">
			<div class="col-sm-5">
				<div class="row">
					<div class="col-sm-4"><label class="col-form-label">:مالك العمل</label></div>
					<div class="col-sm-8">
						<input type="text" name="" class="form-control" placeholder="">
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				&nbsp;
			</div>
			<div class="col-sm-5">
				<div class="row">
					<div class="col-sm-4"><label class="col-form-label">:تاريخ الانتهاء الهجري</label></div>
					<div class="col-sm-8">
						<input type="text" name="" class="form-control" placeholder="">
					</div>
				</div>
			</div>
		</div>

		<div class="row mtsm">
			<div class="col-sm-5">
				<div class="row error">
					<div class="col-sm-4"><label class="col-form-label">:مصدر التكليف</label></div>
					<div class="col-sm-8">
						<input type="text" name="" class="form-control" placeholder="">
						<ul class="error-list">
							<li class="error-item"><i class="fas fa-angle-double-left"></i> ده مثال لايرور علي سطر</li>
							<li class="error-item"><i class="fas fa-angle-double-left"></i> مثال رقم ٢ لايرور تاني</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				&nbsp;
			</div>
			<div class="col-sm-5">
				<div class="row">
					<div class="col-sm-4"><label class="col-form-label">:تاريخ البدء ميلادي</label></div>
					<div class="col-sm-8">
						<input type="text" name="" class="form-control" placeholder="">
					</div>
				</div>
			</div>
		</div>

		<div class="row mtsm">
			<div class="col-sm-5">
				<div class="row">
					<div class="col-sm-4"><label class="col-form-label">:التكليف موجه من</label></div>
					<div class="col-sm-8">
						<input type="text" name="" class="form-control" placeholder="">
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				&nbsp;
			</div>
			<div class="col-sm-5">
				<div class="row">
					<div class="col-sm-4"><label class="col-form-label">:تاريخ الانتهاء ميلادي</label></div>
					<div class="col-sm-8">
						<div class="input-date">
							<input type="text" name="" class="form-control" placeholder="">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row mtsm">
			<div class="col-sm-5">
				<div class="row">
					<div class="col-sm-4"><label class="col-form-label">:اولاويات معالي الوير</label></div>
					<div class="col-sm-8">
						<input type="text" name="" class="form-control" placeholder="">
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				&nbsp;
			</div>
			<div class="col-sm-5">
				<div class="row error">
					<div class="col-sm-4"><label class="col-form-label">:حالة تنفيذ التكليف</label></div>
					<div class="col-sm-8">
						<input type="text" name="" class="form-control" placeholder="">
						<ul class="error-list">
							<li class="error-item"><i class="fas fa-angle-double-left"></i> ده مثال لايرور علي سطر</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row mtsm">
			<div class="col-sm-5">
				<div class="row">
					<div class="col-sm-4"><label class="col-form-label">عنوان</label></div>
					<div class="col-sm-8">
						<span>اكتب هنا مجرد كلام عادي</span>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				&nbsp;
			</div>
			<div class="col-sm-5">
				<div class="row">
					<div class="col-sm-4"><label class="col-form-label">عنوان</label></div>
					<div class="col-sm-8">
						<span>اكتب هنا مجرد كلام عادي</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row mtsm">
			<div class="col-sm-5">
				<div class="row">
					<div class="col-sm-4"><label class="col-form-label">:السرية</label></div>
					<div class="col-sm-8">
						<select name="" class="form-control js-select2" id="" data-select='{}'>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				&nbsp;
			</div>
			<div class="col-sm-5">
				<div class="row">
					<div class="col-sm-4"><label class="col-form-label">:الحالة</label></div>
					<div class="col-sm-8">
						<div class="select-wrapper">
							<select name="" class="form-control" id="">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group row mtmd">
		<label class="col-sm-3 col-form-label">&nbsp;</label>
		<div class="col-sm-9 text-left">
  		<button type="button" class="btn btn-wide btn-primary">حفظ واستكمال بيانات التكليف</button>
  		<button type="submit" class="btn btn-wide btn-primary">حفظ</button>
  		<button type="reset" class="btn btn-wide btn-gray">إلغاء</button>
		</div>
	</div>
</div>