<header class="header">
	<div class="top-header">
		<div class="container-fluid">
			<div class="logo">
				<h1><a href="index.html"><img src="images/logo_mandate@2x.png" alt=""></a></h1>
			</div>
			<div class="vsion-logos">
				<img src="images/logo_vision2030.svg" alt="">
				<img src="images/logo_mep.svg" alt="">
			</div>
		</div>
	</div>

	<div class="main-nav">
		<nav class="navbar navbar-expand-lg">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link" href="mdt_index.html">الصفحة الرئسية</a></li>
					<li class="nav-item">
						<a class="nav-link" href="mdt_mahamy.html">مهامي</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</li>
					<li class="nav-item"><a class="nav-link" href="mdt_morasalat.html">وارد مراسلاتي</a></li>
					<li class="nav-item"><a class="nav-link" href="mdt_taklefat.html">التكليفات</a></li>
                         <li class="nav-item"><a class="nav-link" href="mdt_feasibility-study.html">دراسة جدوي</a></li>
				</ul>
				
				<div style="display:flex;align-items:center;">
					<div class="noti_Container" id="noti_Container">
						<a href="javascript:void(0);" id="noti_Button" class="noti_Button"><i class="fas fa-bell"></i></a>
						<span id="noti_Counter" class="noti_Counter">7</span>
						<!--THE NOTIFICAIONS DROPDOWN BOX.-->
	               <div id="notifications" class="notifications">
                    <h3>اخر الإشعارات</h3>
                    <div style="height:300px;" class="notifications-body">
                    	<ol class="list">
                    		<li>
                    			<div>
                    				<div><span class="text-primary">تحديث</span> إنتقال لمرحلة جديدة</div>
                    				<date class="text-muted"><small><span>9.00 AM</span> <span>Today</span></small></date>
                    			</div>
                    			<div>طلب الديوان الملكي بالرفع والتسجيل</div>
                    		</li>
                    		<li>
                    			<div>
                    				<div><span class="text-primary">إجراء</span> مطلوب إفادة</div>
                    				<date class="text-muted"><small><span>9.00 AM</span> <span>Today</span></small></date>
                    			</div>
                    			<div>طلب الديوان الملكي بالرفع والتسجيل</div>
                    		</li>
                    		<li>
                    			<div>
                    				<div><span class="text-primary">إجراء</span> مطلوب إفادة</div>
                    				<date class="text-muted"><small><span>9.00 AM</span> <span>Today</span></small></date>
                    			</div>
                    			<div>طلب الديوان الملكي بالرفع والتسجيل</div>
                    		</li>
                    		<li>
                    			<div>
                    				<div><span class="text-primary">إجراء</span> مطلوب إفادة</div>
                    				<date class="text-muted"><small><span>9.00 AM</span> <span>Today</span></small></date>
                    			</div>
                    			<div>طلب الديوان الملكي بالرفع والتسجيل</div>
                    		</li>
                    		<li>
                    			<div>
                    				<div><span class="text-primary">إجراء</span> مطلوب إفادة</div>
                    				<date class="text-muted"><small><span>9.00 AM</span> <span>Today</span></small></date>
                    			</div>
                    			<div>طلب الديوان الملكي بالرفع والتسجيل</div>
                    		</li>
                    		<li>
                    			<div>
                    				<div><span class="text-primary">إجراء</span> مطلوب إفادة</div>
                    				<date class="text-muted"><small><span>9.00 AM</span> <span>Today</span></small></date>
                    			</div>
                    			<div>طلب الديوان الملكي بالرفع والتسجيل</div>
                    		</li>
                    		<li>
                    			<div>
                    				<div><span class="text-primary">إجراء</span> مطلوب إفادة</div>
                    				<date class="text-muted"><small><span>9.00 AM</span> <span>Today</span></small></date>
                    			</div>
                    			<div>طلب الديوان الملكي بالرفع والتسجيل</div>
                    		</li>
                    	</ol>
                    </div>
                    <div class="seeAll"><a href="#">شاهد الكُل</a></div>
	               </div>
					</div>
					<div class="today">
						<span>الاثنين 06 صفر 1440 / 15 اكتوبر 2019</span>
					</div>
				</div>
			</div>
		</nav>
	</div>

</header>