<section class="account-strip">
	<div class="container-fluid clearfix">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">الصفحة الرئيسية</a></li>
				<li class="breadcrumb-item"><a href="#">صفحة اخري</a></li>
				<li class="breadcrumb-item active" aria-current="page">الصفحة الحالية</li>
			</ol>
		</nav>
		<div class="user-account">
			<span>مرحباً:  أحمد</span>
			<div class="select-wrapper">
				<select name="" class="form-control">
					<option>choose role</option>
					<option value="1">Ahmed Saeed role</option>
					<option value="2">admin role</option>
					<option value="3">another account role</option>
				</select>
			</div>
			<a class="link" href="#">تسجيل الخروج</a>
		</div>
		<div class="global-search">
			<input type="search" name="" class="form-control search_input" placeholder="ابحث هنا...">
			<a class="search-link"><i class="fas fa-search"></i></a>
		</div>
	</div>
</section>