//root
:root {
	font-size:14px;
}

// body
body {
   color:var(--textColor);
   font-family:var(--primaryFont);
   background-color:#FFF;
}

// links
a{
	color:var(--primaryColor);
}


a:hover,
a.text-primary:hover,
a.text-primary:focus {
	color:var(--primaryColor) !important;
}


/// .page-link
.pagination{
	padding:0;
	margin:0;
}
.page-item.active .page-link {
	background-color: var(--primaryColor);
	border-color:var(--primaryColor);
}
.page-link{
	color:var(--primaryColor);
}


//// modal
.modal-header {
	padding:1.7rem 2rem 1rem;
	border:0;
}
.modal-header .close {
	float: left;
	margin:0;
	padding:0;
}
.modal-title{
	font-size: .9rem;
	font-weight: 400;
	color:var(--primaryColor);
}
.modal-xlg {
	@media(min-width: 1180px){
		max-width: 1180px;
	}
}
.modal-xxlg {
	@media(min-width: 1180px){
		max-width: 94%;
	}
}
.modal-content {
	@include border-radius(15px);
}
.modal-body{
	.main-content {
		padding:0;
		margin:0;
	}
}
.modal-backdrop{
	background-color: #163B37;
}
.modal-backdrop.in ,  .modal-backdrop.show{
	opacity: .8;
}


.breadcrumb {
	margin:0;
	background: transparent;
	padding-right:0;
	padding-left:0;
}
.breadcrumb-item + .breadcrumb-item {
	padding-right: 0.5rem;
	padding-left:0;
}
.breadcrumb-item + .breadcrumb-item::before {
	padding-left: 0.5rem;
	padding-right:0;
}


////// alert-container
.alert-container {
	width: 440px;
	position: fixed;
	top:40px;
	left:50%;
	margin-left:-220px;
	z-index: 999999;
	@media (max-width: var(--mobile)) {
		max-width: 280px;
		margin-left:-140px;
	}

	//////////////
	.alert {
		box-shadow: 0 3px 8px rgba(0,0,0,.1);
		position: relative;
		padding-top:1rem;
		padding-right:5rem;
		padding-bottom:1rem;
		border:0;
		border-radius: 6px;
		background-color: #FFFFFF;
		color: var(--textColor); 
		border-right: 6px solid transparent;
		@media (max-width: var(--mobile)) {
			padding-top:1rem;
			padding-right:3rem;
			padding-bottom:1rem;
			border-radius: 3px;
			border-right: 3px solid transparent;
		}
		&:before {
			position: absolute;
			right:12px;
			top:50%;
			@include translateY(-50%);
			font-family:'Font Awesome 5 Free';
			font-size: 2rem;
			display: block;
			font-weight: 900;
			@media (max-width: var(--mobile)) {
				font-size: 1.2rem;
			}
		}

		&.alert-warning {
			border-right-color:#fdce4e;
			//background-color: #fffedb;
			&:before {
				content:"\f071";
				color: #fdce4e;
			}
		}

		&.alert-success {
			//background-color:#e7f4e7;
			border-right-color:#82c885;
			&:before {
				content:"\f058";
				color: #82c885;
			}
		}

		&.alert-danger {
			//background-color:#ffe7e1;
			border-right-color:#fe8962;
			&:before {
				content:"\f057";
				color: #fe8962;
			}
		}

		&.alert-info {
			//background-color:#d6eff6;
			border-right-color:#a2e0f3;
			&:before {
				content:"\f05a";
				color: #a2e0f3;
			}
		}

		&.alert-dismissible {
			padding-left:4rem;
			@media (max-width: var(--mobile)) {
				padding-left: 2rem;
			}
			.close {
				left:0;
				right:auto;
				top:50%;
				outline:0;
				@include translateY(-50%);
				color:var(--textColor);
			}
		}
	}
}



//////// nav
.tabs{
	.nav-fill {
		margin:0;
		padding:0;
		list-style: none;
		background-color: #ECECEC;
		li {
			border-left:1px solid #fff;
			&:last-child{
				border:0;
			}
		}
		.nav-link {
			//color:var(--textColor);
			border-radius:0;
			padding:1rem;
			&.active{
				background-color: #FFF;
				color:#004C45;
			}
		}
	} 
}

.alert-danger {
	background: lighten(#E1AC89, 15%);
	border-color:lighten(#E1AC89, 15%);
}
.alert-success {
	background: lighten(#ABD07D, 15%);
	border-color:lighten(#ABD07D, 15%);
}
.alert-warning {
	background: lighten(#E1D889, 15%);
	border-color:lighten(#E1D889, 15%);
}
.alert-info {
	background: lighten(#89cee1, 15%);
	border-color:lighten(#89cee1, 15%);
}


/////// progress
.progress {
	.progress-bar-green {
		background-color: var(--primaryColor);
	}
	.progress-bar-lightgreen {
		background-color: #8AD000;
	}
	.progress-bar-darkgreen {
		background-color: #004C45;
	}
}


//// overwrite
.ui-autocomplete {
   z-index: 2147483647;
}

.calendars-popup {
    z-index: 2147483647;
}