.col-form-label {
    color: var(--primaryColor);
}

.col-form-label,
.col-sm-6 span {
    font-size: 1.2rem;
    padding-bottom: calc(0.375rem + 4px);
}

.col-sm-6 span,
.col-form-label {
    padding-top: 0;
}

.filename {
    font-size: .8rem;
}

.required {
    color: red;
    margin-right: 3px;
}

.form-control {
    @include border-radius(4px);
    box-shadow: none;
    outline: none;
    height: calc(1.5em + 0.75rem + 10px);
    color: var(--textColor);
    background: rgb(240, 240, 240);
    background-color: var(--white);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(255, 255, 255, 1) 57%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(255, 255, 255, 1) 57%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(240, 240, 240, 1) 0%, rgba(255, 255, 255, 1) 57%);
    // /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ffffff', GradientType=0);
}

.form-control::-webkit-input-placeholder {
    color: #CCC;
}

.form-control::-moz-placeholder {
    color: #CCC;
}

.form-control:-ms-input-placeholder {
    color: #CCC;
}

.form-control::-ms-input-placeholder {
    color: #CCC;
}

.form-control::placeholder {
    color: #CCC;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #e9e9e9 !important;
    background: #e9e9e9 !important;
    opacity: 1 !important;
}

.form-control:focus {
    outline: 0;
    box-shadow: none;
    border-color: #999;
}

/////// input-date
.input-date {
    position: relative;
    &:before {
        content: "\f073";
        position: absolute;
        left: 4px;
        font-family: 'Font Awesome 5 free';
        top: 44%;
        margin-left: 5px;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        display: block;
        color: #CCC;
        font-size: 16px;
    }
    &:after {
        content: '';
        width: 1px;
        height: 24px;
        position: absolute;
        left: 32px;
        top: 11px;
        padding: 0;
        //line-height: 2.2;
        position: absolute;
        pointer-events: none;
        background-color: var(--lightGrayColor);
    }
    .form-control {
        padding-left: 30px;
    }
}

.taklef-priod,
.input-price {
    position: relative;
    &:before {
        content: attr(data-text);
        position: absolute;
        left: 1px;
        top: 1px;
        bottom: 1px;
        border-radius: 4px 0 0 4px;
        border-right: 1px solid var(--borderColor);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        width: auto;
        background-color: #f0f0f0;
        color: #999;
        font-size: 12px;
    }
    .form-control {
        padding-left: 30px;
    }
}

.input-price {}

/////////////////////// selection
::-webkit-selection {
    background-color: var(--primaryColor);
    opacity: .9;
}

::-moz-selection {
    background-color: var(--primaryColor);
    opacity: .9;
}

::-o-selection {
    background-color: var(--primaryColor);
    opacity: .9;
}

::-ms-selection {
    background-color: var(--primaryColor);
    opacity: .9;
}

::selection {
    background-color: var(--primaryColor);
    opacity: .9;
}

/////////////////////////////// select-wrapper
.select-wrapper {
    &.period {
        &:after {
            content: "يوم";
            background: none;
            text-align: left;
            top: 9px;
        }
    }
    position: relative;
    cursor: pointer;
    &.select-lg {
        &:after {
            line-height: 2.5;
        }
    }
    &:after {
        content: '';
        width: 30px;
        position: absolute;
        left: 6px;
        top: 15px;
        bottom: 6px;
        padding: 0;
        //line-height: 2.2;
        pointer-events: none;
        text-align: center;
        vertical-align: middle;
        background: transparent url('../images/if_ExpandMore_1031518.png') no-repeat 0 0;
    }
    select {
        @include appearance(none);
        appearance: none;
        margin-bottom: .9rem;
        cursor: pointer;
    }
    select::-ms-expand {
        display: none;
    }
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        select {
            padding-left: 18px
        }
    }
}

.error {
    label {
        color: var(--invalid) !important;
    }
    .form-control {
        border-color: var(--invalid);
    }
    .error-list {
        margin: 5px 0 0;
        padding: 0;
        list-style: none;
        li {
            color: var(--invalid);
            display: block;
            font-size: .9rem;
            i {
                margin-left: 5px;
                opacity: .5;
            }
        }
    }
}

textarea {
    resize: none;
}

//// radio
.form-check-inline .form-check-input {
    margin-left: 7px;
    margin-right: 0;
}

//////////////////
.form-control.is-invalid,
.form-control.is-valid {
    background-position: center left calc(0.375em + 0.1875rem);
    padding-left: calc(1.5em + 0.75rem);
    padding-right: 0.75rem;
}

////// styled checkbox
.checkboxes {
    margin: 0;
    padding: 0;
    list-style: none;
    &.inline {
        display: flex;
        align-items: center;
        li {
            margin-left: 12px;
            &:last-child {
                margin: 0;
            }
        }
    }
    &.ch-grn {
        .styled-checkbox {
            &:checked+label:before {
                background: #4caf50;
                border-color: #4caf50;
            }
        }
    }
    li {
        margin: 0;
        padding: 0;
        display: block;
    }
}

.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
    &+label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }
    // Box.
    &+label:before {
        content: '';
        margin-left: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 18px;
        height: 18px;
        background: #f9f9f9;
        border: 1px solid #c2c2c2;
        position: relative;
        top: 4px;
    }
    // Box hover
    &:hover+label:before {
        // background: #f35429;
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
    // Box focus
    &:focus+label:before {
        // box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
    // Box checked
    &:checked+label:before {
        background: var(--primaryColor);
        border-color: var(--primaryColor);
    }
    // Disabled state label.
    &:disabled+label {
        color: #b8b8b8;
        cursor: auto;
    }
    // Disabled box.
    &:disabled+label:before {
        box-shadow: none;
        background: #ddd;
    }
    // Checkmark. Could be replaced with an image
    &:checked+label:after {
        content: '';
        position: absolute;
        right: 12px;
        top: 11px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        transform: rotate(45deg);
    }
}

////// form-inline
.form-inline {
    >div {
        margin-left: 12px;
        &:last-child {
            margin: 0;
        }
    }
    .form-control {
        min-width: 125px;
        margin: 0;
    }
}

////// styled checkbox
.radios {
    margin: 0;
    padding: 0;
    list-style: none;
    &.inline {
        display: flex;
        align-items: center;
        li {
            margin-left: 12px;
            &:last-child {
                margin: 0;
            }
        }
    }
    &.radio-grn {
        .styled-radio {
            &:checked+label:before {
                background: #4caf50;
                border-color: #4caf50;
            }
        }
    }
    li {
        margin: 0;
        padding: 0;
        display: block;
    }
}

.styled-radio {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
    &+label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }
    // Box.
    &+label:before {
        content: '';
        margin-left: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #f9f9f9;
        border: 1px solid #c2c2c2;
        position: relative;
        top: 4px;
    }
    // Box hover
    &:hover+label:before {
        // background: #f35429;
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
    // Box focus
    &:focus+label:before {
        // box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
    // Box checked
    &:checked+label:before {
        background: var(--primaryColor);
        border-color: var(--primaryColor);
    }
    // Disabled state label.
    &:disabled+label {
        color: #b8b8b8;
        cursor: auto;
    }
    // Disabled box.
    &:disabled+label:before {
        box-shadow: none;
        background: #ddd;
    }
    // Checkmark. Could be replaced with an image
    &:checked+label:after {
        content: '';
        position: absolute;
        right: 5px;
        top: 9px;
        background: white;
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
}

////// file input upload
.file_input {
    position: relative;
    @media (max-width: var(--mobile)) {
        width: 100%;
    }
}

.js .inputfile {
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    /* z-index: -1; */
    cursor: pointer !important;
}

.file_input .inputfile_label {
    margin: 0;
    display: flex !important;
    justify-content: flex-start;
    align-content: center;
    line-height: 2;
}

.file_input .inputfile_label.is-dragover {
    background-color: #E2E2E2;
    border: 2px solid var(--primaryColor) !important;
}

.file_input .inputfile_label span {
    display: inline-block;
    max-width: 115px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.inputfile+.inputfile_label {
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    height: 40px;
    padding: .375rem .75rem;
    outline: none;
}

.no-js .inputfile+.inputfile_label {
    display: none;
}

.inputfile+.inputfile_label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile+.inputfile_label svg {
    width: 1.3em;
    //height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-left: 0.50em;
    /* 4px */
    margin-right: 0.25em;
    margin-top: 6px;
    /* 4px */
}

.inputfile+.inputfile_label {
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .37rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background: -moz-linear-gradient(top, rgba(239, 239, 239, 0.65) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(239, 239, 239, 0.65) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(239, 239, 239, 0.65) 0%, rgba(255, 255, 255, 0) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6efefef', endColorstr='#00ffffff', GradientType=0);
}

.inputfile:focus+.inputfile_label,
.inputfile.has-focus+.inputfile_label,
.inputfile+.inputfile_label:hover {
    color: darken(#ddd, 20%);
}

///// for commity
.field-validation-valid {
    display: none;
}

// responsive
@media screen and (min-width:768px) and (max-width:1024px) {
    .col-sm-6 span,
    .col-form-label,
    .form-control {
        font-size: .8rem;
    }
}