
/// header
.header {
	position: relative;
}

/// top-header
.top-header {
	position: relative;
	background:#fff url('images/bg_art_topleft.png') no-repeat left center;
	@media(max-width: var(--mobile)){
		background:#f9f9f9;
		background-image:none;
	}
	.container-fluid{
		height:90px;
		display: flex;
		justify-content: space-between;
		align-items:center;
	}

	.logo{
		h1 {
			margin:0;
			padding:0;
		}
		img {
			max-height: 75px;
		}
	}

	.vsion-logos{
		text-align: left;
		@media(max-width: var(--mobile)){
			display: none;
		}
		img {
			float: left;
			margin-right:120px;
		}
	}
}

// menu-wrapper
.main-nav {
	background: rgb(0,76,69);
	background: -webkit-linear-gradient(186deg, rgba(0,76,69,1) 0%, rgba(2,175,156,1) 100%);
	background: -o-linear-gradient(186deg, rgba(0,76,69,1) 0%, rgba(2,175,156,1) 100%);
	background: linear-gradient(276deg, rgba(0,76,69,1) 0%, rgba(2,175,156,1) 100%);

	.navbar{
		padding:5px 1rem;
	}
	
	.navbar-collapse {
		justify-content: space-between;
	}

	.today {
		color:#FFF;
		@media(max-width: var(--mobile)){
			display: none;
		}
	}

	.navbar-toggler {
		background-color: #FFF;
		outline:none;
		padding:0.15rem 0.35rem;
		
		.navbar-toggler-icon {
			color:#666;
			font-size: 1.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
		} 
	}
	
	.navbar-nav {
		margin:0;
		padding:0;

		.nav-item {
			position: relative;
			.nav-link {
				color:#FFF;
				padding-right:.8rem;
				padding-left:.8rem;
			}
			.nav-link-notify {
				position: absolute;
				top:0;
				left:-4px;
				width: 20px;
				height: 20px;
				font-size: .9rem;
				display: flex;
				justify-content: center;
				align-items:center;
				border-radius: 50%;
				background-color:#8AD000;
				color: #FFF;
			}
		}
	}

}


//// notification
.noti_Container {
	margin-left:12px;
	position: relative;

	.noti_Button {
		color:#fff;
		font-size: 1.3rem;
		position: relative;
		z-index: 2;
		&:hover, &:active, &:focus {
			color: #FFF;
		}
	}

	.noti_Counter {
		padding: 0;
		width: 22px;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		height:22px;
		background: lighten(#4caf50, 5%);
		color: #ffffff;
		font-weight: bold;
		border-radius: 50%;
		position: absolute;
		font-size: 11px;
		right:-20px;
		top:-5px;
	}

	.notifications {
		display:none;
		width:430px;
		position:absolute;
		top:38px;
		left:-10px;
		background:#FFF;
		border:solid 1px rgba(100, 100, 100, .20);
		-webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .20);
		z-index: 3;

      &:before {
			content: '';
			display:block;
			width:0;
			height:0;
			color:transparent;
			border:10px solid #CCC;
			border-color:transparent transparent #FFF;
			margin-top:-20px;
			margin-left:7px;
			position: absolute;
			left:0;
      }
	}

	h3 {
		display:block;
		color:#333; 
		background:#FFF;
		font-weight:bold;
		font-size:13px;    
		padding:8px;
		margin:0;
		border-bottom:solid 1px rgba(100, 100, 100, .30);
	}

	.seeAll {
		background:#F6F7F8;
		padding:8px;
		font-size:12px;
		font-weight:bold;
		border-top:solid 1px rgba(100, 100, 100, .30);
		text-align:center;
	}
	.seeAll a {
		color:var(--primaryColor);
	}
	.seeAll a:hover {
		background:#F6F7F8;
		color:var(--darkPrimaryColor);
		text-decoration:underline;
	}
	
	.notifications-body {
		overflow-y: auto;
		ol.list {
			margin:0;
			padding:0;
			list-style: none;
			li {
				display: block;
				padding:10px;
				border-bottom:1px solid var(--borderColor);
				&:last-child {
					border:0;
				}
				>div {
					display: flex;
					justify-content: space-between;

				}
			}
		}
	}
}


